html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #f3d2c3;
}

.hr{
    width: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #3f3131;
    opacity: 90%;
    color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    padding-left: 6%;
    z-index: 999;
}

nav .logo {
    width: 50%;
}

nav .logo img {
    padding-top: 10px;
    width: 15vh;
}

.nav-links {
    list-style-type: none;
    display: flex;
    padding-right: 15%;
}

.nav-links li a {
    color: #ffeedc;
    margin-left: 40px;
    text-decoration: none;
    font-size: 2vmin;
}

.nav-links li a:hover {
    color: #3f3131;
    background-color: #fff8ea;
    transition: all 0.5s ease;
    transform: scale(1.01);
    border-radius: 20px;
    padding: 5px 2px;
}

.menu-btn {
    position: absolute;
    width: 20%;
    margin-left: 100%;
    cursor: pointer;
}

*{
    margin: 0;
    padding: 0;
}

section:nth-child(1) {
    background-image: url(img/keripikparu1.png);
    height: 100vh;            
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
}

.content {
    margin: 0 10% 0 10%;
}

#row {
    display: flex;
    align-items: center;
}

.content-wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.colorwt {
    color: #fff;
}

.content-wrapper h1 {
    margin-top: 35vh;
    font-size: 4.7vmin;
    margin-bottom: 5%;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    color: #ffeedc;
    text-shadow: 3px 2px 1px black;
}

.content-wrapper p {
    font-size: 2.5vmin;
    text-align: justify;
    line-height: 2;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    color: #ffeedc;
    text-shadow: 3px 2px 1px black;
}

.content-wrapper-desc p {
    font-size: 2.5vmin;
    text-align: justify;
    line-height: 2;
    width: 70%;
    margin-left: 17%;
    margin-top: 10%;
    margin-bottom: 3%;
    margin-right: 10%;
    color: #ffeedc;
    text-shadow: 3px 2px 1px black;
}

.btn {
    margin-top: 3%;
    background-color: #3f3131;
    color: #ffeedc;
    font-size: 2.5vmin;
    padding: 10px 0;
    border: none;
    width: 100%;
    border-radius: 50px;
    cursor: pointer;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.content-wrapper img {
    width: 100%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.hoverbtn:hover{
    background-color: #fff8ea;
    border: 2px solid black;
    color: #3f3131;
    transition: all 0.5s ease;
    border-radius: 50px;
}
.hoverbtn-learnmore:hover{
    background-color: #3f3131;
    border: 2px solid #fff8ea;
    color: #fff8ea;
    transition: all 0.5s ease;
    border-radius: 50px;
}


#about {
    margin-top: 110px;
    color: #3f3131;
}


.content-fit {
    width: 100%;
    margin-top: 1%;
}

.content-fit:nth-child(2) {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 250px;
}

.content-fit h1 {
    text-align: center;
    font-size: 4vmin;
    margin: 2% 0;
}

.content-fit img{
    width: 95%;
}

.hoverimg:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition:all 0.1s ease;
    transform: scale(1.01);
    border-radius: 20px;
}

.aboutus {
    display: flex;
    align-items:center;
    justify-content: space-around;
    background-color: #3f3131;
    border-radius: 20px;
}

/* .aboutusall{
    background-color: #3f3131;
    border-radius: 20px;
} */

.aboutus div:nth-child(1){
    width: 40%;
}
.aboutus div:nth-child(2){
    width: 60%;
}

.aboutus img {
    width: 100%;
    display: block;
    margin-right: auto;
    margin-left:5%;
    padding: 3%;
}

#product {
    margin-top: 110px;
}

#product h1 {
    text-align: center;
    font-size: 4vmin;
    margin: 2% 0;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 1%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.menu div {
    border:1px solid;
    width: 24%;
    border-radius: 20px;
    margin-top: 1%;
    
}

.menu img {
    width: 80%;
    margin-top: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    opacity: 80%;
}

.menu img:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.menu p {
    font-size: 3vmin;
    text-align: center;
    margin: 5%;
}

.menu a {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-decoration: none;
}

.order {
    display: block;
    margin: 6% auto 10% auto;
    background-color: #3f3131;
    color: #fff;
    font-size: 1.8vmin;
    padding: 5px 10px;
    border:2px solid #3f3131;
    width: 70%;
    border-radius: 50px;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* Hide the dropdown content initially */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff8ea;
    min-width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
}

/* Style for each dropdown item */
.dropdown-content li {
    list-style: none;
}

.dropdown-content li a {
    color: black;
    padding: 12px 17px;
    text-decoration: none;
    display: block;
    margin: 1vh 5px;
    text-align: center;
}

/* Display the dropdown on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Optional: Change link color on hover */
.dropdown-content li a:hover {
    background-color: #3f3131;
    color: #ffeedc;
}

.learnmore {
    display: block;
    margin: auto auto 10% 65%;
    background-color: #fff8ea;
    color: #3f3131;
    font-size: 1.8vmin;
    padding: 10px 10px;
    border:2px solid #3f3131;
    width: 20%;
    border-radius: 50px;
    cursor: pointer;
    margin-bottom: 5%;
}

.sec4{
    margin-top: 110px;
    border: 2px solid #594545;
    border-radius: 20px;
}

.sec4 h1{
    text-align: center;
    font-size: 4vmin;
    margin: 2% 0;
}

.sec4 h2{
    text-align: center;
    font-size: 2.5vmin;
    text-decoration: underline;
}

#info{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
    padding-left: 1.5%;
    margin-bottom: 1%;
}

#info div {
    width: 48%;
    margin-top: 1%;
}

.jadwal table{ 
    text-align: center;
    width: 100%;
    height: 400px;
    border: 1px solid;
    border-radius: 10px;
    transition: all 0.3s ease;
}

table:hover {
    background-color: #9e7676;
    color: #fff8ea;
}

.jadwal td{
    font-size: 2vmin;
}

.jadwal tr:nth-child(1) td{
    font-weight: bold;
    border-bottom: 1px solid;
}

.form {
    width: 100%;
    background-color: #c09c9c;
    border-radius: 10px;
    height: 400px;
}

.form form {
    padding:0 3% 0 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 290px;
    margin-bottom: 5%;
    font-size: 1.8vmin;
}

.form input {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1.5vmin;
}

.form input[type=submit] {
    border-radius: 50px;
    border: 2px solid #fff8ea;
    margin: 3% 0 0 0 ;
}

footer {
    background-color: #3f3131;
    height: 21vh;
    margin-top: 50px;
    width: 100%;
}

.logocontact {
    width: 100%;
    text-align: center;
    margin-top: 5vh;
}

.logocontact a {
    padding: 0.5%;
}

.logocontact img {
    width: 4vh;
    padding: 5px;
    border:4px solid #fff8ea;
    border-radius: 100%;
}

.logocontact img:hover {
    transition:all 0.1s ease;
    transform: scale(1.1);
    border-radius: 20px;
}

.logocontact hr {
    margin-top: 4vh;
}

.logocontact p {
    margin-top: 1vh;
    color: #fff;
    font-size: 2vmin;
}
.top {
  --offset: 50px; 
  
  position: sticky;
  bottom: 20px;      
  place-self: end;
  margin-top: calc(100vh + var(--offset));
  
  /* visual styling */
  text-decoration: none;
  padding: 1.5%;
  font-family: sans-serif;
  color: #3f3131;
  background: #fff8ea;
  border: #3f3131 solid;
  border-radius: 100px;
  white-space: nowrap;
  margin-left: 93%;
}

#preloader {
    background: #3f3131 url(img/paruciouslogo.gif) no-repeat center center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 1000;
    opacity: 1;
    transition: opacity 3s ease-in-out; /* Slower and smoother transition */
    visibility: visible;
}

#preloader.fade-out {
    opacity: 0;
    visibility: hidden;
}

.shake {
	animation: shake-animation 4s ease infinite;
	transform-origin: 50% 50%;
  }
  @keyframes shake-animation {
    0% { transform:translate(0,0) }
   1.78571% { transform:translate(5px,0) }
   3.57143% { transform:translate(0,0) }
   5.35714% { transform:translate(5px,0) }
   7.14286% { transform:translate(0,0) }
   8.92857% { transform:translate(5px,0) }
   10.71429% { transform:translate(0,0) }
   100% { transform:translate(0,0) }
 }

 .musik{
    display: none;
 }
/* laptop minimize */
@media only screen and (max-width:1280px) {
    .menu div {
        border:1px solid;
        width: 32%;
        border-radius: 20px;
        margin-top: 2%;
    }
    .form form{
        font-size: 2vmin;
        height: 320px;
    }
    .form input {
        font-size: 1.8vmin;
    }
    .aboutus img {
        width: 80%;
        display: block;
        margin-right: auto;
        margin-left: auto;
        padding: 3%;
    }
}




/* tablet device */
@media only screen and (max-width:1023px) {
    nav {
        padding: 0;
        margin-top: 70px;
    }
    .logo {
        position: fixed;
        top: 0px;
        left: 30px;
        margin-top: 1%;
    }
    .menu-btn {
        position: fixed;
        margin-left: 82%;
        margin-top: -1vh;
        cursor: pointer;
        width: 10vh;
        background-color: #3f3131;
        border-radius: 10%;
        padding-top: 1%;
        padding-bottom: 1%;
    }
    .nav-links {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        height: 1000px;
        background: #3f3131;
        margin-left: 50%;
        margin-top: -1500px;
        position: fixed;
        transition: all 0.5s ease;
        border-bottom-left-radius: 50px; 
        
    }
    .mobile-menu {
        margin-top: 0px;
    }
    .nav-links li {
        margin-top: 75px;
        margin-left: 5%;
    }
    .nav-links li:nth-child(1) {
        margin-top: 410px;
    }
    .nav-links li a {
        color: #fff8ea;
        font-size: 3vmin;
    }
    .content-wrapper{
        margin-top: 10%;
        width: 100%;
    }
    .content-wrapper h1 {
        margin-top: 10vh;
        font-size: 5vmin;
        text-align: center;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .content-wrapper p {
        font-size: 3.5vmin;
        margin-top: 10vh;
        text-align: justify;
        width: 90%;
        text-align: justify;
        margin-left: 5%;
        margin-right: 5%;
    }
    .btn {
        margin-top: 10vh;
        background-color: #3f3131;
        color: #fff;
        font-size: 3.5vmin;
        border: none;
        width: 90%;
        border-radius: 50px;
        cursor: pointer;
        margin-left: 5%;
        margin-right: 5%;
    }
    .content-fit:nth-child(2) {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        height: auto;
        margin-top: 10px;
    }
    .content-fit div{
        width: 35%;
    }
    .aboutus {
        flex-direction: column;
    }
    .aboutus div{
        width: 100%;
    }
    .aboutus div:nth-child(1) {
        width: 40%;
    }
    .aboutus div:nth-child(2) {
        width: 80%;
    }
    .aboutus img{
        width: 200%;
        margin-left: -55%;
        margin-top: 5%;
    }
    .aboutus .content-wrapper-desc p {
        width: 100%;
        margin-top: 5%;
    }
    .aboutus .content-wrapper p{
        margin: 0;
    }
    .learnmore{
        font-size: 3vmin;
        width: 40%;
        margin-left: 60%;
        margin-bottom: 15%;
        margin-top: 10%;
    }
    .menu div {
        width: 48%;
    }
    .order{
        font-size: 2vmin;
    }
    .learnmore{
        font-size: 2vmin;
    }
    .form h2 {
        margin-bottom: 10%;
    }
    .content-wrapper-desc p {
        font-size: 2.5vmin;
        text-align: justify;
        line-height: 2;
        width: 90%;
        margin-left: auto;
        margin-top: 3%;
        margin-bottom: 4%;
        margin-right: auto;
        color: #ffeedc;
        text-shadow: 3px 2px 1px black;
    }
    .dropdown-content li a {
        color: black;
        text-decoration: none;
        display: block;
        margin-top: -10vh;
    }
    .dropdown li:nth-child(1){
        margin-top: -10vh; 
    }
    .dropdown li:nth-child(2){
        margin-top: 2vh; 
        margin-bottom: 1vh;
    }
    .dropdown-content{
        max-height: 200px;
    }
    
    /* Display the dropdown on hover */
    /* .dropdown:hover .dropdown-content {
        display: block;
    } */
    
    /* Optional: Change link color on hover */
    /* .dropdown-content li a:hover {
        background-color: #3f3131;
        color: #ffeedc;
    } */
}





/* tablet device - low resolution*/
@media only screen and (max-width:767px) {
    .menu-btn {
    margin-left: 68%;
    }
    .logo{
        margin-top: 2%;
    }
    .content-wrapper h1 {
        margin-top: 25vh;
        margin-bottom: 7vh;
        font-size: 5vmin;
        text-align: center;
    }
    .content-wrapper p {
        margin-top: 3vh;
    }
    .order{
        font-size: 2.5vmin;
    }
    .learnmore{
        font-size: 2.5vmin;
    }
    .sec4{
        flex-wrap: wrap;
    }
    #info{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    #info div {
        width: 96%;
    }
    .sec4 h2{
        font-size: 3vmin;
    }
    .jadwal td{
        font-size: 3vmin;
    }
    .form h2 {
        margin-bottom: 5%;
    }
    .form form {
        font-size: 2.5vmin;
    }
    .form input {
        font-size: 2vmin;
    }
    .logocontact p {
        font-size: 3vmin;
    }  
    .top {
        margin-left: 85%;
        padding: 3%;
    }
}



/* smartphone device */
@media only screen and (max-width:480px) {
    nav .logo img {
        padding-top: 10px;
        width: 12vh;
    }
    .nav-links {
        height: 670px;
    }
    .nav-links li {
        margin-top: 50px;
    }
    .nav-links li:nth-child(1) {
        margin-top: 250px;
    }
    .menu-btn {
        margin-left: 82%;
        margin-top: -23px;
        width: 8vh;
        }
    #about {
        margin-top: 90px;
    }
    #product {
        margin-top: 90px;
    }
    .sec4{
        margin-top: 90px;
    }
    .form h2 {
        margin-bottom: 7%;
    }
    .form form {
        font-size: 2.8vmin;
    }
    .form input {
        font-size: 2.5vmin;
    }
    .logocontact img {
        width: 3vh;
    }
    .logocontact hr {
        margin-top: 4vh;
    }
}

@media only screen and (max-width:300px) {
    .menu-btn {
        margin-top: -32px;
        margin-left: 80%;
    }
}




/* fade in*/

.fadein{
    opacity: 0;
    transition: 0.5s all ease;
  }
  
  .fadein.active{
    opacity: 1 ;
  } 

  
.fadeinfirst {
    -webkit-animation: fadein 1.2s;
    -moz-animation: fadein 1.2s;
    -o-animation: fadein 1.2s;
    animation: fadein 1.2s;
}

@-webkit-keyframes fadein {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@-moz-keyframes fadein {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@-o-keyframes fadein {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes fadein {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* fade in bottom 

.fadeinbottom {
    -webkit-animation: fadeinbottom 1.2s;
    -moz-animation: fadeinbottom 1.2s;
    -o-animation: fadeinbottom 1.2s;
    animation: fadeinbottom 1.2s;
}

@-webkit-keyframes fadeinbottom {
    0%{
        opacity: 0;
        -webkit-transform: translatey(100px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translatey(0);
    }
}
@-moz-keyframes fadeinbottom {
    0%{
        opacity: 0;
        -moz-transform: translatey(100px);
    }
    100%{
        opacity: 1;
        -moz-transform: translatey(0);
    }
}
@-o-keyframes fadeinbottom {
    0%{
        opacity: 0;
        -o-transform: translatey(100px);
    }
    100%{
        opacity: 1;
        -o-transform: translatey(0);
    }
}
@keyframes fadeinbottom {
    0%{
        opacity: 0;
        transform: translatey(100px);
    }
    100%{
        opacity: 1;
        transform: translatey(0);
    }
}